# Build
bin/
obj/

# Visual Studio / VS Code
.vs/
.vscode/

# User-specific files
*.user
*.suo

# macOS
.DS_Store

# Logs
*.log

# Environment / secrets
.env
appsettings.Development.json

# EF / local database files
*.db
*.sqlite

# Development passwords
appsettings.Development.json